---
import { getLoaderConfig } from 'virtual:starlight-changelogs/config'

console.log('🚨 [test.astro:4] getConfig:', getLoaderConfig())
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body> Hello </body>
</html>
